
	body {
		background-image: url("Images\scott-webb-wsMwDxF8SKA-unsplash.jpg"); 
		background-color: whitesmoke;
	  }
#menu
{
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		width: 100%;
		background-color: #333;
		position: fixed;
		top: 0;
		z-index: 1
}
	
#aboutTxt
{
	background-color: whitesmoke;
	margin: 0 auto;
	width: 900px;
	padding: 2em;
	border: 1px solid #CCC;
	border-radius: 1em;
	overflow: auto;
	text-align: justify;;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: medium;
}


li 
{
		float: left;
		border-right: 1px solid #bbb;

}
	

li:last-child 
{
		border-right: none;
}
li a 
{
		display: block;
		padding: 14px 16px;
		color: white;
		text-align: center;
		text-decoration: none;
}

li a:hover 
{
	background-color: #111;
}

a.active 
{
  background-color: #4CAF50;
}

section.photos 
{
margin: auto;
}

.row 
{
   margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 50%;
  padding: 0 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 2px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 75%;

}
.container {
	  text-align: center;
}


h2{
		  text-align: center;
		  font-family: "Comic Sans MS", cursive, sans-serif;}

iframe {
display:block;
position: relative;
margin: 0 auto;
border:1px solid #e3e3e3;

}

section img{
position: relative;
margin: 0 auto;
border:1px solid #e3e3e3;
display:block;

}

.fb-like {
	display:block;
    margin-left: 40%;
}



#answers
{
	background-color: whitesmoke;
	margin: 0 auto;
	width: 900px;
	padding: 2em;
	border: 1px solid #CCC;
	border-radius: 1em;
	overflow: auto;
	text-align: justify;;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: medium;
}



form {

	background-color: whitesmoke;
	/* Center the form on the page */
	margin: 0 auto;
	width: 600px;
	
	/* Form outline */
	padding: 2em;
	border: 1px solid #CCC;
	border-radius: 1em;
	overflow: auto;
  }
  
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  form li + li {
	margin-top: 1em;
	
  }
  
  label {
	/* Uniform size & alignment */
	display: inline-block;
	width: 90px;
	text-align: center;
  }
  
  
  input:focus, 
  textarea:focus {
	/* Additional highlight for focused elements */
	border-color: #000;
  }
  

  
  .button {
	/* Align buttons with the text fields */
	padding-left: 90px; /* same size as the label elements */
  }
  
  button {
	/* This extra margin represent roughly the same space as the space
	   between the labels and their text fields */
	margin-left: .5em;
  }

